/**
 * Styles for all elements
 */
    * {
        border: 0;
        box-sizing: border-box;
        outline: none;
        font-family: inherit;
    }

    *:focus {
        outline: none;
    }

    *::before,
    *::after {
        box-sizing: inherit;
    }

/**
 * Styles for generic elements
 */
    html {
        font-family: 'Roboto', sans-serif;
        font-size: 90%;
        height: 100%;
        line-height: 1.25;
        width: 100%;
    }

    @media screen and (min-width: 601px) {
        html {
            font-size: 100%;
        }
    }

    body {
        background-color: #FAFAFA;
        color: #212121;
        display: flex;
        flex-direction: column;
        margin: 0;
        min-height: 100%;
        min-height: 100vh;
    }

    header.nav-wrapper {
        background-color: #212121;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        color: #FAFAFA;
        left: 0;
        overflow: hidden;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 999999;
    }

    header.nav-wrapper nav.nav-bar {
        height: 4rem;
        line-height: 4rem;
        width: 100%;
    }

    main.main-content {
        flex: 1 0 auto;
        margin: 5.5rem auto 1.5rem;
        display: block;
        width: 100%;
    }

    footer.footer-page {
        margin: 0;
        padding: 1rem 0;
        background-color: #212121;
        color: #FAFAFA;
    }

/**
 * Styles for accessory elements
 */
    .container {
        position: relative;
        display: block;
        margin: 0 auto;
        width: 90%;
    }

    @media screen and (min-width: 601px) {
        .container {
            width: 80%;
        }
    }

    @media screen and (min-width: 993px) {
        .container {
            width: 70%;
        }
    }

    i.material-icons {
        line-height: inherit;
        font-size: inherit;
        vertical-align: bottom;
    }

    .tooltip {
        background-color: #212121;
        border-radius: 0.75rem;
        color: #fafafa;
        display: block;
        font-size: 0.8rem;
        font-weight: 300;
        height: 1.5rem;
        line-height: 1.5rem;
        margin: 0;
        max-width: 16rem;
        padding: 0 0.5rem;
        position: fixed;
        right: -8rem;
        top: 5.5rem;
        transition: all .5s ease-in-out;
        visibility: hidden;
        width: auto;
        z-index: 999994;
        opacity: 0;
        pointer-events: none;
        box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    }

    .tooltip.active {
        visibility: visible;
        opacity: 1;
        right: 1rem;
    }

    .button {
        -webkit-tap-highlight-color: transparent;
        border-radius: 2px;
        border: none;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        cursor: pointer;
        display: inline-block;
        outline: 0;
        line-height: 2rem;
        font-size: 1rem;
        padding: 0 1rem;
        vertical-align: middle;
    }

    .button:hover {
        box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    }

    .flat.button {
        text-transform: uppercase;
        box-shadow: none;
        background-color: #FAFAFA;
        color: #ffab40;
    }

    .flat.button:hover {
        box-shadow: none;
        background-color: #eeeeee;
    }

    .ghost.button {
        box-shadow: none;
        padding: 0;
        opacity: 0;
        transition: opacity 0.50s ease-in-out, background-color 0.50s ease-in-out;
    }

    .ghost.button:hover {
        opacity: 1!important;
    }

    .circle.button {
        border-radius: 50%;
        padding: 0;
        text-align: center;
    }

    .fixed.action.button {
        bottom: 1.65rem;
        box-shadow: none;
        list-style: none;
        margin: 0;
        padding: 0;
        position: fixed;
        right: 5%;
        transform: translateX(50%);
        width: 2.5rem;
    }

    .fixed.action.button ul {
        left: 0;
        right: 0;
        text-align: center;
        position: absolute;
        bottom: 2.5rem;
        margin: 0;
        visibility: hidden;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .fixed.action.button ul li {
        position: relative;
    }

    .fixed.action.button ul li span.tooltip {
        border-radius: 0.25rem;
        position: absolute;
        right: 0;
        top: 0.25rem;
        transition: all .25s ease-in-out;
        width: auto;
        z-index: 999994;
    }

    .fixed.action.button ul li:hover span.tooltip {
        visibility: visible;
        right: 100%;
        opacity: 1;
    }

    .fixed.action.button:hover ul {
      visibility: visible;
    }

    .fixed.action.button .button {
        height: 0;
        width: 0;
        line-height: 2rem;
        font-size: 1.05rem;
        display: block;
        margin: 1.25rem;
        z-index: 999996;
        overflow: hidden;
        transition: all .25s ease-in-out;
    }

    .fixed.action.button:hover .button {
        height: 2rem;
        width: 2rem;
        margin: 0.25rem;
    }

    .fixed.action.button .big.button {
        height: 2.5rem;
        width: 2.5rem;
        line-height: 2.5rem;
        font-size: 2.0rem;
        margin: 0;
        z-index: 999997;
    }

    .fixed.action.button .big.button i {
        transition: transform 0.25s ease-in-out;
        overflow: hidden;
        margin: 0;
        padding: 0;
    }

    .fixed.action.button:hover .big.button i {
        transform: rotate(225deg);
    }

    @media screen and (min-width: 601px) {
        .fixed.action.button {
            bottom: 1.5rem;
            right: 10%;
            width: 3rem;
        }

        .fixed.action.button ul {
            bottom: 3rem;
        }

        .fixed.action.button .button {
            font-size: 1.15rem;
            margin: 1.5rem;
        }

        .fixed.action.button:hover .button {
            height: 2rem;
            width: 2rem;
            margin: 0.5rem;
        }

        .fixed.action.button .big.button {
            height: 3rem;
            width: 3rem;
            line-height: 3rem;
            font-size: 1.55rem;
            margin: 0;
        }
    }

    @media screen and (min-width: 993px) {
        .fixed.action.button {
            right: 15%;
        }
    }

/**
 * Styles for nav-bar elements
 */
    nav.nav-bar .brand-logo {
        line-height: inherit;
        font-size: 2rem;
        margin: 0;
        padding: 0;
        text-align: center;
        font-weight: lighter;
    }

/**
 * Styles for post elements
 */
    .dashboard .post {
        height: auto;
        padding: 1rem;
        border-radius: 1rem;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }

    .dashboard .post.picture {
        background-color: #212121;
        color: #FAFAFA;
    }

    .dashboard .post ~ .post {
        margin-top: 1.5rem;
    }

    .post .content {
        position: relative;
    }

    .post .content .title {
        display: block;
        font-size: 1.55rem;
        font-weight: 100;
        line-height: 2.05rem;
        margin: 0 0 0.25rem 0;
        position: relative;
        width: 100%;
    }

    .unpublished.post .content input.title {
        background-color: #eeeeee;
        margin: 0 0 1rem 0;
        padding: 0.50rem;
    }

    .unpublished.picture.post .content input.title {
        background-color: #424242;
        color: #FAFAFA;
    }

    .post .content .ghost.button {
        font-size: 2rem;
        font-weight: 100;
        height: 2.15rem;
        line-height: 2.15rem;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
        width: 2.15rem;
        z-index: 999998;
    }

    .post:hover .content .ghost.button {
        opacity: 0.25;
    }

    .unpublished.post .content .ghost.button {
        display: none;
        opacity: 0;
        pointer-events: none;
    }

    .post .content .date {
        display: block;
        font-weight: 300;
        margin-bottom: 1rem;
        width: 100%;
    }

    .unpublished.post .content .date {
        display: none;
        opacity: 0;
        pointer-events: none;
    }

    .post .content .text {
        display: block;
        font-size: 1.15rem;
        font-weight: 300;
        line-height: 1.5;
        margin: 0;
        padding: 0;
        position: relative;
        width: 100%;
    }

    .quote.post:not(.unpublished) .content .text {
        padding: 0 0 0 3rem;
    }

    .quote.post:not(.unpublished) .content .text::before {
        content: "format_quote";
        direction: ltr;
        display: block;
        float: left;
        font-family: 'Material Icons';
        font-size: 3rem;  /* Preferred icon size */
        font-style: normal;
        font-weight: normal;
        height: 3rem;
        letter-spacing: normal;
        line-height: 3rem;
        margin: 0 0 0 -3rem;
        text-align: center;
        text-transform: none;
        transform: rotate(180deg);
        vertical-align: top;
        white-space: nowrap;
        width: 3rem;
        word-wrap: normal;

        /* Support for all WebKit browsers. */
        -webkit-font-smoothing: antialiased;

        /* Support for Safari and Chrome. */
        text-rendering: optimizeLegibility;

        /* Support for Firefox. */
        -moz-osx-font-smoothing: grayscale;

        /* Support for IE. */
        font-feature-settings: 'liga';
    }

    .unpublished.post .content textarea.text {
        background-color: #eeeeee;
        height: 10rem;
        margin: 0 0 1rem 0;
        overflow-wrap: break-word;
        overflow: hidden;
        padding: 0.50rem;
        resize: none;
        font-weight: 300;
    }

    .post.quote .content .author {
        display: block;
        display: block;
        font-family: 'Book Antiqua', 'Times New Roman', serif;
        font-size: 0.9rem;
        font-style: italic;
        margin: 1rem 0 0 0;
        text-align: right;
        width: 100%;
    }

    .unpublished.post .content input.author {
        padding: 0.50rem;
        background-color: #eeeeee;
    }

    .unpublished.picture.post .content .file.flat.button {
        background-color: #212121;
    }

    .unpublished.picture.post .content .file.flat.button:hover {
        background-color: #424242;
    }

    .post.picture .content .picture {
        width: 100%;
        height: auto;
        border: 0.5rem solid #FAFAFA;
        border-radius: 0.25rem;
    }

    .post.picture .content .picture[src=""] {
        display: none;
        opacity: 0;
        pointer-events: none;
    }

    .picture.post:not(.unpublished) .content .file-loader {
        display: none;
        opacity: 0;
        pointer-events: none;
    }

    .unpublished.picture.post .content .file-loader {
        display: block;
        width: 100%;
        margin-bottom: 1rem;
        position: relative;
    }

    .unpublished.picture.post .content .file-loader input[name="fake-image-loader"]{
        margin-right: 1rem;
        float: left;
    }

    .unpublished.picture.post .content .file-loader span[name="fake-image-text"]{
        -webkit-tap-highlight-color: transparent;
        border: none;
        display: block;
        outline: 0;
        line-height: 2rem;
        max-height: 2rem;
        font-size: 1rem;
        padding: 0;
        vertical-align: middle;
        background-color: #212121;
        color: #e0e0e0;
        font-weight: 300;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .post:not(.unpublished) .action {
        display: none;
        opacity: 0;
        pointer-events: none;
    }

    .post.unpublished .action {
        margin: 0rem -1rem -1rem;
        padding: 1rem;
    }

    .post.unpublished .action::after {
        content: "";
        display: table;
        clear: both;
    }

    .unpublished.post .action .flat.button {
        display: block;
        width: auto;
        float: right;
    }

    .unpublished.post .action .button ~ .button {
        margin-right: 1rem;
    }

    .unpublished.picture.post .action .flat.button {
        background-color: #212121;
    }

    .unpublished.picture.post .action .flat.button:hover {
        background-color: #424242;
    }

/**
 * Styles for footer elements
 */
    .copyright {
        display: block;
        text-align: center;
        vertical-align: middle;
        line-height: 1rem;
        font-size: 0.8rem;
        height: 1rem;
    }

/**
 * Helpers
 */
    .hidden {
        opacity: 0;
        display: none;
        pointer-events: none;
    }

    .red {
        background-color: #f44336;
    }

    .amber {
        background-color: #ffc107;
    }

    .green {
        background-color: #4caf50;
    }

    .blue {
        background-color: #2196f3;
    }
    .ligth-text {
        color:  #fafafa;
    }

    .dark-text {
        color:  #fafafa;
    }
